.app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 4px;
  max-width: 540px;
}

.app-nav {
  border-bottom: 1px solid #bbb;
  display: flex;
  justify-content: flex-start;
}

.app-nav__item {
  padding: 1em 0.5em;
  text-decoration: none;
}